@import '~@angular/material/theming';

$accent: mat-palette($mat-amber, A200);

.app-avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: mat-color($accent);
  color: white;
  font-size: 20px;
  font-weight: bold;
}
