<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Change password</mat-card-title>
      <mat-card-subtitle>Change your current password</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <mat-form-field>
        <mat-label>Current password</mat-label>
        <input
          matInput
          formControlName="currentPassword"
          [type]="isHidden('currentPassword') ? 'password' : 'text'"
        />
        <button
          type="button"
          mat-icon-button
          matSuffix
          (click)="setHidden('currentPassword')"
        >
          <mat-icon>
            {{ isHidden("currentPassword") ? "visibility_off" : "visibility" }}
          </mat-icon>
        </button>
        <mat-error>Current password is required</mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>New password</mat-label>
        <input
          matInput
          formControlName="newPassword"
          [type]="isHidden('newPassword') ? 'password' : 'text'"
        />
        <button
          type="button"
          mat-icon-button
          matSuffix
          (click)="setHidden('newPassword')"
        >
          <mat-icon>
            {{ isHidden("newPassword") ? "visibility_off" : "visibility" }}
          </mat-icon>
        </button>
        <mat-error>{{ newPasswordError }}</mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Confirm new password</mat-label>
        <input
          matInput
          formControlName="confirmNewPassword"
          [type]="isHidden('confirmNewPassword') ? 'password' : 'text'"
        />
        <button
          type="button"
          mat-icon-button
          matSuffix
          (click)="setHidden('confirmNewPassword')"
        >
          <mat-icon>
            {{
              isHidden("confirmNewPassword") ? "visibility_off" : "visibility"
            }}
          </mat-icon>
        </button>
        <mat-error>Passwords don't match</mat-error>
      </mat-form-field>

      <button mat-raised-button color="primary" [disabled]="form.invalid">
        Change Password
      </button>
    </mat-card-content>
  </mat-card>
</form>
