.profile-container {
  display: flex;
  justify-content: space-between;
  padding: 40px 0;

  .flex-1 {
    flex: 1;

    &:first-of-type {
      margin-right: 10px;
    }

    &:last-of-type {
      margin-left: 10px;
    }
  }
}
