<div appContainer maxWidth="900px" class="profile-container">
  <form [formGroup]="form" (ngSubmit)="submit()" class="flex-1">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Change profile</mat-card-title>
        <mat-card-subtitle>
          Change your name and/or your e-mail
        </mat-card-subtitle>
      </mat-card-header>

      <mat-card-content>
        <mat-form-field>
          <mat-label>Name</mat-label>
          <input matInput formControlName="name" />
          <mat-icon matSuffix>badge</mat-icon>
          <mat-error>Name is required</mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>E-mail</mat-label>
          <input matInput formControlName="email" />
          <mat-icon matSuffix>email</mat-icon>
          <mat-error>{{ getError('email', 'E-mail') }}</mat-error>
        </mat-form-field>

        <button
          mat-raised-button
          color="primary"
          [disabled]="form.pristine || form.invalid"
        >
          Save
        </button>
      </mat-card-content>
    </mat-card>
  </form>

  <br />
  <app-change-password class="flex-1"></app-change-password>
</div>
