<div appContainer>
  <app-header
    title="Courses"
    subtitle="Courses you teach"
    icon="school"
  ></app-header>

  <mat-grid-list cols="3" gutterSize="16px">
    <mat-grid-tile *ngFor="let course of courses$ | async">
      <mat-card tabindex="0">
        <mat-card-header>
          <div mat-card-avatar class="app-avatar">{{ course.name[0] }}</div>
          <mat-card-title>{{ course.name }}</mat-card-title>
          <mat-card-subtitle>
            {{ course.students.length }} students enrolled
          </mat-card-subtitle>
        </mat-card-header>

        <mat-card-content>
          <p>{{ course.description }}</p>
        </mat-card-content>

        <mat-card-actions align="end">
          <button
            mat-button
            mat-icon-button
            matTooltip="View students enrolled"
            (click)="viewStudents(course)"
          >
            <mat-icon>people</mat-icon>
          </button>
          <button
            mat-button
            mat-icon-button
            matTooltip="Edit course"
            [routerLink]="['edit', course.id]"
          >
            <mat-icon>edit</mat-icon>
          </button>
          <button
            mat-button
            mat-icon-button
            color="warn"
            matTooltip="Remove course"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>

<button
  mat-fab
  color="primary"
  matTooltip="Add a new course"
  matTooltipPosition="above"
  routerLink="new"
>
  <mat-icon>add</mat-icon>
</button>
