.mat-card {
  position: absolute;
  top: 4px;
  left: 4px;
  right: 4px;
  bottom: 4px;

  .mat-card-content p {
    text-align: justify;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
  }
}

.mat-fab {
  position: fixed !important;
  right: 40px;
  bottom: 40px;
}
