<div appContainer>
  <app-header
    title="Courses"
    subtitle="Courses you teach"
    icon="school"
  ></app-header>

  <mat-grid-list cols="3" gutterSize="16px">
    <mat-grid-tile *ngFor="let course of courses$ | async">
      <mat-card
        tabindex="0"
        matRipple
        matTooltip="Click to view students enrolled"
      >
        <mat-card-header>
          <mat-card-title>{{ course.name }}</mat-card-title>
          <mat-card-subtitle>
            {{ course.students.length }} students enrolled
          </mat-card-subtitle>
        </mat-card-header>

        <mat-card-content>
          <p>{{ course.description }}</p>
        </mat-card-content>

        <mat-card-actions align="end">
          <button mat-button>EDIT</button>
          <button mat-button color="warn">REMOVE</button>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
