<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
    *ngIf="visible"
  >
    <mat-nav-list>
      <h3 matSubheader>Your content</h3>

      <a
        mat-list-item
        *ngFor="let link of links"
        [routerLink]="link.route"
        routerLinkActive="active"
      >
        <mat-icon matListIcon>{{ link.icon }}</mat-icon>
        <h3 matLine>{{ link.title }}</h3>
        <p matLine>{{ link.subtitle }}</p>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary" *ngIf="visible">
      <button
        type="button"
        mat-icon-button
        (click)="toggleDrawer()"
        *ngIf="isHandset$ | async"
      >
        <mat-icon>menu</mat-icon>
      </button>
      <div class="toolbar-content">
        <span>The <strong>Scholar</strong></span>

        <div matRipple class="avatar" [matMenuTriggerFor]="menu">
          <img [src]="user?.avatarUrl" [alt]="user?.name" />
        </div>
        <mat-menu #menu="matMenu">
          <button mat-menu-item routerLink="users/profile">
            <mat-icon>person</mat-icon>
            <span>Edit Profile</span>
          </button>

          <button mat-menu-item (click)="onLogout()">
            <mat-icon>logout</mat-icon>
            <span>Sign Out</span>
          </button>
        </mat-menu>
      </div>
    </mat-toolbar>

    <!--<router-outlet/>-->
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
